@{
    ViewData["Title"] = "Home Page";
}

  <div id="app"></div>

@section scripts {
    <script type="text/javascript" src="~/dist/vender-base.js"  asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/vender-exten.js"  asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/main.js"  asp-append-version="true"></script>
}

</html>
